/*----------------
|   Lemon Milk
------------------*/
@font-face {
    font-family: "LemonMilk";
    src: url('../fonts/LemonMilk.otf');
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand-Light.ttf');
}

@font-face {
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue.otf');
}

@font-face {
    font-family: "Elevation";
    src: url('../fonts/Elevation.ttf');
}

.BebasNeue {
    font-family:"BebasNeue";
    letter-spacing: 1px;
}

.Elevation {
    font-family:"Elevation";
}

body {
    position: relative;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    border: none;
}

.owl-carousel {
    margin-bottom: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.7;
    z-index: 10000;
}

.itemBook {
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    padding: 10px;
    margin-bottom: 10px;
}

.itemBook h2 {
    margin: 0px;
}

.itemBook span {
    font-size: 12px;
}

.itemBook hr {
    margin: 2px;
}

section {
    min-height: 100vh;
    color: white;
    padding-bottom: 10px;
}

h1 {
    padding-top: 50px;
}

/*----------------
|   Lemon Milk
------------------*/

.LemonMilk {
    font-family: LemonMilk;
}

#slider1 {
    font-family: LemonMilk;
    background-color: #72a988;
}

#slider2 {
    font-family: Quicksand;
    color: black;
    background-color: #ffc17e;
}

#navbars {
    font-family: "BebasNeue";
    background-color: #c497ff;
}

#navbars p {
    font-size: 16px;
    letter-spacing: 1px;
}

#contact {
    font-family: Elevation;
    background-color: #2d2a30;
}

.required {
    color: #d70014;
}

textarea {
    resize: none;
    height: 200px !important;
}

.btn-secondary,input,textarea {
    background-color: transparent !important;
    border: 1px solid white !important;
    border-radius: 0px !important;
    color: white !important;
}

.btn-secondary:hover, .btn-secondary:active {
    color: white;
    background-color: #635f66 !important;
}

p {
    font-size: 15px;
}

.owl-carousel .item{
    height: 300px;
}

.slider-for{
    max-width: 500px;
    height: 250px;
    margin: 30px auto 1px;
    overflow: hidden;
}

.slider-for .item{
    width: 100%;
    height: 250px;
    outline: none;
}
.slider-for img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.slider-nav{
    width: 100%;
    height: 100px;
    margin: auto;
}
.slider-nav .slick-track{
    height: 100px;
}

.slider-nav .item {
    width: 80px;
    height: 100px;
    padding: 0px 10px;
    outline: none;
}

.slider-nav .item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 5px solid white;
}
.slick-arrow{
     position: absolute;
     top: 50%;
     z-index: 50;
     background-color: rgba(7, 7, 7, 0.47) !important;
     height: 100% !important;
     width: 25px !important;
     transition: background-color 1s;
}

.slick-arrow:hover{
    background-color: rgba(7, 7, 7, 0.91) !important;
}

.owl-carousel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar-green.navbar-default .navbar-collapse {
    border-color: #0c2011;
}

.navbar-green.navbar-default,
.LemonMilk .owl-theme .owl-dots .owl-dot.active span,
.LemonMilk .panel-heading {
    background-color: #0e4835;
}

.navbar-green.navbar-default .navbar-toggle{
    border: none;
}

.navbar-green.navbar-default .navbar-toggle .icon-bar {
    background-color: #efefef;
}

.navbar-green.navbar-default .nav>li>a:focus,
.navbar-green.navbar-default .nav>li>a:hover,
.navbar-green.navbar-default .nav > li > a,
.navbar-green .navbar-brand,
.navbar-green .navbar-brand:hover,
.LemonMilk .panel-heading{
    color: #efefef;
}

.navbar-green.navbar-default .navbar-nav>.active>a,
.navbar-green.navbar-default .navbar-toggle:hover,
.LemonMilk .owl-theme .owl-dots .owl-dot:hover span,
.navbar-green.navbar-default .nav>li>a:focus,
.navbar-green.navbar-default .nav>li>a:hover {
    background-color: #11765a;
}

.LemonMilk .owl-theme .owl-dots .owl-dot:hover span{
    opacity: .5;
}
 {

}

/*----------------
|   Quicksand
------------------*/

.Quicksand {
    font-family: "Quicksand";
}

.Quicksand .owl-carousel .item{
    height: 300px;
}

.Quicksand .owl-carousel .item img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.navbar-orange.navbar-default .navbar-collapse {
    border-color: #69240f;
}

.navbar-orange.navbar-default,
.Quicksand .owl-theme .owl-dots .owl-dot.active span,
.Quicksand .btn-default{
    background-color: #d64416;
}

.navbar-orange.navbar-default .navbar-toggle,
.Quicksand .btn-default{
    border: none;
}

.navbar-orange.navbar-default .navbar-toggle .icon-bar {
    background-color: #efefef;
}

.navbar-orange.navbar-default .nav>li>a:focus,
.navbar-orange.navbar-default .nav>li>a:hover,
.navbar-orange.navbar-default .nav > li > a,
.navbar-orange .navbar-brand,
.navbar-orange .navbar-brand:hover,
.Quicksand .btn-default{
    color: #efefef;
}

.navbar-orange.navbar-default .navbar-nav>.active>a,
.navbar-orange.navbar-default .navbar-toggle:hover,
.Quicksand .owl-theme .owl-dots .owl-dot:hover span,
.navbar-orange.navbar-default .nav>li>a:focus,
.navbar-orange.navbar-default .nav>li>a:hover,
.Quicksand .btn-default:hover{
    background-color: #e64616;
}

.Quicksand .owl-theme .owl-dots .owl-dot:hover span{
    opacity: .5;
}


/*---------------
Navbar colors
-----------------*/

.navbar-default .nav>li>a:focus,
.navbar-default .nav>li>a:hover,
.navbar-default .nav > li > a,
.navbar-brand,
.navbar-brand:hover {
    color: #efefef !important;
}

.navbar-toggle{
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #efefef;
}

.navbar-purple.navbar-default, .navbar-purple .navbar-collapse {
    border-color: #442581;
    background-color: #753ed6;
}

.navbar-purple.navbar-default .nav>li>a {
    -webkit-transition: font-size 1s, background-color 1s; /* Safari */
    transition: font-size 1s,background-color 1s;
}
.navbar-purple.navbar-default .nav>li>a:focus,
.navbar-purple.navbar-default .nav>li>a:hover,
.navbar-purple.navbar-default .navbar-nav>.active>a {
    font-size: 20px;
}

.navbar-purple.navbar-default .navbar-nav>.active>a,
.navbar-purple.navbar-default .navbar-toggle:hover,
.navbar-purple.navbar-default .nav>li>a:focus,
.navbar-purple.navbar-default .nav>li>a:hover,
.navbar-purple .btn-default:hover{
    background-color: #9744ff;

}

.navbar-blue.navbar-default, .navbar-blue .navbar-collapse {
    border-color: #314ed6;
    background-color: #5b78d6;
}

.navbar-blue.navbar-default .nav>li  {
    -webkit-transition: border .5s; /* Safari */
    transition:  border .5s;
}
.navbar-blue.navbar-default .nav>li>a:focus,
.navbar-blue.navbar-default .nav>li>a:hover,
.navbar-blue.navbar-default .navbar-nav>.active>a {
    border-bottom: 3px solid #f1f1f1;
}


.navbar-blue.navbar-default .navbar-toggle:hover,
.navbar-blue.btn-default:hover{
    background-color: #6797d6;
}

.navbar-red  {
    width: 100%;
    border-color: #910104;
    background-color: #d60e34;
}

.navbar-red .navbar-toggle {
    display: inline-block;
}

.navbar-red.navbar-default .navbar-toggle:hover,
.navbar-red.btn-default:hover{
    background-color: #ff463f;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #d60e34;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    background-color: #ff382d
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}